s_manivannan_3/WebContent/wsdl/Transaction_Call.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.mcds5510.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.mcds5510.com" xmlns:intf="http://webservice.mcds5510.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.mcds5510.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="create_Transaction">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
      <element name="nameOnCard" type="xsd:string"/>
      <element name="cardNumber" type="xsd:string"/>
      <element name="unitPrice" type="xsd:string"/>
      <element name="quantity" type="xsd:string"/>
      <element name="expDate" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="create_TransactionResponse">
    <complexType>
     <sequence>
      <element name="create_TransactionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="update_Transaction">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
      <element name="nameOnCard" type="xsd:string"/>
      <element name="cardNumber" type="xsd:string"/>
      <element name="unitPrice" type="xsd:string"/>
      <element name="quantity" type="xsd:string"/>
      <element name="expDate" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="update_TransactionResponse">
    <complexType>
     <sequence>
      <element name="update_TransactionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="delete_Transaction">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="delete_TransactionResponse">
    <complexType>
     <sequence>
      <element name="delete_TransactionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="view_Transaction">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="view_TransactionResponse">
    <complexType>
     <sequence>
      <element name="view_TransactionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="delete_TransactionResponse">

      <wsdl:part element="impl:delete_TransactionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="view_TransactionResponse">

      <wsdl:part element="impl:view_TransactionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="create_TransactionResponse">

      <wsdl:part element="impl:create_TransactionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="update_TransactionResponse">

      <wsdl:part element="impl:update_TransactionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="delete_TransactionRequest">

      <wsdl:part element="impl:delete_Transaction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="update_TransactionRequest">

      <wsdl:part element="impl:update_Transaction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="view_TransactionRequest">

      <wsdl:part element="impl:view_Transaction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="create_TransactionRequest">

      <wsdl:part element="impl:create_Transaction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Transaction_Call">

      <wsdl:operation name="create_Transaction">

         <wsdl:input message="impl:create_TransactionRequest" name="create_TransactionRequest">

       </wsdl:input>

         <wsdl:output message="impl:create_TransactionResponse" name="create_TransactionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="update_Transaction">

         <wsdl:input message="impl:update_TransactionRequest" name="update_TransactionRequest">

       </wsdl:input>

         <wsdl:output message="impl:update_TransactionResponse" name="update_TransactionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delete_Transaction">

         <wsdl:input message="impl:delete_TransactionRequest" name="delete_TransactionRequest">

       </wsdl:input>

         <wsdl:output message="impl:delete_TransactionResponse" name="delete_TransactionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="view_Transaction">

         <wsdl:input message="impl:view_TransactionRequest" name="view_TransactionRequest">

       </wsdl:input>

         <wsdl:output message="impl:view_TransactionResponse" name="view_TransactionResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Transaction_CallSoapBinding" type="impl:Transaction_Call">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="create_Transaction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="create_TransactionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="create_TransactionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="update_Transaction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="update_TransactionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="update_TransactionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delete_Transaction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="delete_TransactionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="delete_TransactionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="view_Transaction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="view_TransactionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="view_TransactionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Transaction_CallService">

      <wsdl:port binding="impl:Transaction_CallSoapBinding" name="Transaction_Call">

         <wsdlsoap:address location="http://localhost:8080/s_manivannan_3/services/Transaction_Call"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
